body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: hsla(303, 71%, 34%, 0.89);
    color: hsl(199, 80%, 24%);
    padding: 50px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 20px 10px 200px rgba(0, 0, 0, 0.2);
    display: inline-block;
    animation: fadeIn 8s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

